<script>
  import Display from "./display.svelte";
  import Controls from "./controls.svelte";
  import Timers from "./timers.svelte";
  import formatTime from "./formatTime.js";

  import alarmURL from "./alarm.ogg";
  const alarm = new Audio(alarmURL);

  export let state;
  $: localStorage.setItem("state", JSON.stringify(state));

  let current = 0;
  let time = 0;

  let totalTime;
  $: totalTime = state.timers[current].time * 60;

  function step() {
    time++;
    if (time >= totalTime) {
      let title = `${state.timers[current].name} is over`;
      current = (current + 1) % state.timers.length;
      totalTime = state.timers[current].time * 60;
      time = 0;
      alarm.play();
      if (Notification.permission === "granted") {
        new Notification(title, {
          body: `${state.timers[current].name} has started`
        });
      }
    }
    document.title = `${state.timers[current].name}: ${formatTime(
      totalTime - time
    )} left`;
  }

  let playing = false;
  let interval;

  function handlePrev() {
    current--;
    if (current < 0) current = state.timers.length - 1;
    totalTime = state.timers[current].time * 60;
    time = 0;
  }

  function handleToggle() {
    if (playing) {
      clearInterval(interval);
    } else {
      if (Notification.permission === "default") {
        Notification.requestPermission();
      }
      interval = setInterval(step, 1000);
    }
    playing = !playing;
  }

  function handleNext() {
    current = (current + 1) % state.timers.length;
    totalTime = state.timers[current].time * 60;
    time = 0;
  }

  function handleDelete(e) {
    if (state.timers.length > 1) {
      state.timers = state.timers.filter((_, i) => i !== e.detail);
      current = current % state.timers.length;
      totalTime = state.timers[current].time * 60;
      time = 0;
    }
  }

  function handleNew() {
    state.timers = state.timers.concat({ name: "New Timer", time: 5 });
  }
</script>

<style>
  main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  button {
    font: inherit;
    padding: 0.25rem;
    border: none;
    background: var(--bg2);
    color: inherit;
    border-radius: 4px;
    margin: 0.25rem 0 0;
    flex: 1 1;
  }
</style>

<main>
  <Display bind:time {totalTime} />
  <Controls
    {playing}
    on:prev={handlePrev}
    on:toggle={handleToggle}
    on:next={handleNext} />
  <Timers bind:timers={state.timers} on:delete={handleDelete} {current} />
  <button on:click={handleNew}>＋</button>
</main>
