<script>
  export let playing;
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
</script>

<style>
  .controls {
    display: flex;
    margin: 0.25rem 0;
  }

  button {
    font: inherit;
    padding: 0.25rem;
    border: none;
    background: var(--bg2);
    color: inherit;
    border-radius: 4px;
    margin: 0 0.25rem;
    flex: 1 1;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }
</style>

<section class="controls">
  <button on:click={() => dispatch('prev')}>⏮</button>
  <button on:click={() => dispatch('toggle')}>{playing ? '⏸' : '▶'}</button>
  <button on:click={() => dispatch('next')}>⏭</button>
</section>
