<script>
  import formatTime from "./formatTime.js";
  export let time;
  export let totalTime;

  let timeString;
  $: timeString = formatTime(totalTime - time);

  function setProgress(e) {
    let { left, width } = e.target.getBoundingClientRect();
    time = Math.floor(((e.clientX - left) / width) * totalTime);
  }
</script>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background: var(--bg2);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 0.25rem;
  }

  progress {
    background: var(--bg);
    border: none;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 8px;
    cursor: pointer;
  }

  ::-moz-progress-bar {
    background: #55ff55;
    border-radius: 4px;
  }

  h1 {
    margin: 0;
  }
</style>

<section>
  <h1>{timeString}</h1>
  <progress max={totalTime} value={time} on:click={setProgress} />
</section>
