* {
  box-sizing: border-box;
}

:root {
  --h: 240;
  --s: 11%;

  --bg: hsl(var(--h), var(--s), 22%);
  --bg2: hsl(var(--h), var(--s), 30%);
  --fg: hsl(var(--h), var(--s), 90%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  text-align: right;
  font-size: small;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

footer a,
footer a:visited {
  color: hsl(var(--h), 100%, 80%);
  text-decoration: none;
}
