<script>
  import Timer from "./timer.svelte";
  export let timers;
  export let current;

  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
</script>

<style>
  .timers {
    display: flex;
    flex-direction: column;
  }
</style>

<section class="timers">
  {#each timers as timer, i}
    <Timer bind:timer {i} {current} />
  {/each}
</section>
