<script>
  export let timer;
  export let current;
  export let i;

  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
</script>

<style>
  .timer {
    background: var(--bg2);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0.25rem 0;
  }

  .selector {
    width: 8px;
    align-self: stretch;
    border-radius: 4px;
    margin-right: 8px;
    background: var(--bg);
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 400ms background;
  }

  .current {
    background: #55ff55;
  }

  input {
    background: var(--bg);
    border: none;
    color: inherit;
    font: inherit;
    padding: 0.1ch 0.5ch;
    margin: 0 1ch;
    border-radius: 4px;
  }

  button {
    font: inherit;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    border-radius: 4px;
    margin: 0;
    opacity: 0.5;
  }

  button:hover {
    opacity: 1;
  }
</style>

<div class="timer">
  {#if i == current}
    <div class="selector current" />
  {:else}
    <div class="selector" />
  {/if}
  <label>Name:</label>
  <input bind:value={timer.name} />
  <label>Minutes:</label>
  <input type="number" min="0" bind:value={timer.time} />
  <button on:click={() => dispatch('delete', i)}>✕</button>
</div>
